{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-7 q-gutter-y-md">
    <iframe
      ref="extensionIframe"
      onload="handleExtensionIframeLoad(this)"
      title="LNbits Extension"
      width="100%"
      height="100%"
      style="border: none"
      :src="iframeSrc"
    >
    </iframe>
  </div>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  function handleExtensionIframeLoad(iframe) {
    resizeIframe(iframe)
    resizeIframeOnChange(iframe)
    shareState(iframe)
  }

  function resizeIframe(iframe) {
    iframe.style.height =
      iframe.contentWindow.document.documentElement.scrollHeight + 'px'
  }

  function shareState(iframe) {
    iframe.contentWindow.postMessage(
      {
        type: 'init',
        extensionId: '{{ext_id}}',
        inkey:
          '{{user.wallets[0].inkey if "read" in manifest["permissions"] else ""}}',
        adminkey:
          '{{user.wallets[0].adminkey if "admin" in manifest["permissions"] else ""}}'
      },
      '*'
    ) // todo: domain
  }

  function resizeIframeOnChange(iframe) {
    const observer = new MutationObserver(() => {
      resizeIframe(iframe)
    })
    observer.observe(iframe.contentWindow.document, {
      attributes: true,
      childList: true,
      subtree: true
    })
  }

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        iframeSrc: '',
        extensionId: '{{ext_id}}'
      }
    },
    methods: {},
    created: function () {
      this.iframeSrc = `${this.extensionId}/dist/index.html`
    }
  })
</script>
{% endblock %}
